*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Variables */

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-dark-2: #3a3a3a;
    --clr-accent: #92ff9b;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
/* Typography */
strong { font-weight: var(--fw-bold) }

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    height: 58px;
    position: sticky;
    top: 0;
    background: var(--clr-dark);
    z-index: 999;
    border-bottom: 1px solid var(--clr-light);
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--clr-light);
    padding: 0;
    margin: 0;
    max-height: 57px;
    border-bottom: 1px solid var(--clr-dark);
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 0.3 cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    display: flex;
    list-style: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover {
    color: var(--clr-accent);
    background: var(--clr-dark-2);
}

.nav-toggle {
    padding: 1em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateY(0);
    bottom: auto;
}

.nav-open .nav__item {
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-open .nav__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/*  Intro styling  */
.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    margin-bottom: 3em;
}

.section__subtitle--intro {
    display: inline-block;
}

/*  My services section  */
.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

/* My Work */
.my-work {
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    color: var(--clr-light);
    text-align: center;    
    padding: 5em 2em 1em 2em;
}

.portfolio {
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio__item {
    position: relative;
    margin-bottom: 6em;
}

.portfolio__img {
    min-height: 100%;
    min-width: 100%;
}

.my-work .section__title--work {
    margin-bottom: 2em;
}

.portfolio__item a,
.btn {
    display: inline-block;
    margin: 1em;
    text-decoration: none;
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    padding: 0.3em 1em;
    background: var(--clr-accent);
    border-radius: 0.5em;
    transition: all 0.3s ease-in-out;
}

.portfolio__item a:hover,
.btn:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
/* My work section */
.portfolio__item h3 {
    font-size: var(--fs-h3);
    margin-bottom: 1em;
}



/* footer */
.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 0.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover,
.email {
    opacity: .7;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0.5em;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}


/* Project */
.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.code {
    text-decoration: none;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    letter-spacing: 1px;
    padding: 0.3em 1em;
    /* margin-top: 3em; */
    background: var(--clr-dark);
    max-width: 4.5em;
    max-height: 2.1em;
    border-radius: 0.5em;
    transition: all 0.3s ease-in-out;
    grid-column: 2;
    grid-row: 2;
}

.code:hover {
    background: var(--clr-dark-2);
    color: var(--clr-accent);
}

/* Media queries */
@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        margin-bottom: 0;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    .about-me__body {
        margin-top: 2em;
    }

    .portfolio {
        display: flex;
        justify-content: space-evenly;
    }

    .code {
        margin: 6em 1em 0 0;
    }
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }

    .nav-toggle {
        display: none;
    }

    body {
        width: 100%;
    }
    header {
        position: sticky;
        z-index: 999;
        padding: 0;
    }

    .nav {
        position: inherit;
        transform: translateX(0);
        height: auto;
        font-size: var(--fs-h3);
    }

    header nav .nav__list {
        display: flex;
        flex-flow: row;
    }

    .nav .nav__list .nav__item  {
        display: inline-block;
        height: 50px;
    }

    .nav .nav__list .nav__item .nav__link  {
        display: inline-block;
        width: auto;
        padding: 0.6em 1.5em;
        font-size: var(--fs-body);
        height: 100%;
        margin: auto;
    }
}

@media (min-width: 2100px) {
    section {
        max-width: 1fr;
    }

    .widescreen-grid {
        display: grid;
        grid-template: auto auto / 1fr 1fr;
    }

    .about-me {
        border-top: 1px solid var(--clr-dark);
    }

    .nav .nav__list .nav__item .nav__link {
        padding: 0.6em 2.5em;
    }
}