@import "./variables/scss-variables.scss";


@import "./header.scss";
@import "./landing.scss";
@import "./footer.scss";
@import "./cards.scss";

@font-face {
  font-family: "Cubano";
  src: url('./fonts/Cubano.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/NunitoSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}



html {
  overflow-x: hidden;
}

.main-container {
  background: $primary;
}

* {
  font-family: $ff-1;
  scroll-behavior: smooth;
  scroll-margin-top: 4rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.button {
  padding: 0.5rem 1rem;
  width: clamp(100%, 200px, 90%);
  border-radius: 5px;
  background-color: #218838;
  color: white;
  border: none;
  font-size: 1.2rem;
}