@import-normalize;
@import "./variables/scss-variables.scss";
// @import "./variables/css-variables.scss";

@import "./header.scss";
@import "./landing.scss";
@import "./footer.scss";
@import "./cards.scss";

.main-container {
  background: $primary;
  // box-sizing: content-box;
}

* {
  font-family: $ff-1;
  scroll-behavior: smooth;
  scroll-margin-top: 4rem;
}

.card {



  .btn{
    z-index: -1;

    transition-delay: 3s;
  }
  .project-description {
    margin-top: 3rem;
    padding: 1rem;
  }

}

.card:hover {

  .btn{
    z-index: 0;
    transform: z-in;

    // transition-delay: 1s;
    // transition-duration: 2000ms;

    :hover {
        box-shadow: 3px 3px 10px black;
        transition-duration: 200ms;
      }
  }

  .project-description {
    display: none;
  }

}

