@import "./variables/scss-variables.scss";

@import "./header.scss";
@import "./landing.scss";
@import "./footer.scss";
@import "./cards.scss";

// html, body{
//   overflow-x: none;  
//   max-width: 100%;
// }

.main-container {
  background: $primary;
}

* {
  font-family: $ff-1;
  scroll-behavior: smooth;
  scroll-margin-top: 4rem;
}

.button {
  padding: 0.5rem 1rem;
  width: clamp(100%, 200px, 90%);
  border-radius: 5px;
  background-color: #218838;
  color: white;
  border: none;
  font-size: 1.2rem;
}