@import "./variables/scss-variables.scss";


.footer {
    background-color: $primary-opacity;
    // min-width: 100vw;
    // overflow: none;
}

.footer-link{
    opacity: 0.8;
}

.footer-link:hover {
    transform: translateY(-3px);
    box-shadow: 0px -3px 20px black;
    background-color: hsl(0, 0%, 10%);
    opacity: 1;
    transition-duration: 300ms;
}



