@import "./variables/scss-variables.scss";

.header {
  z-index: 1;
  .navbar-brand {
    :hover {
      opacity: 0.8;
      transition: 150ms all ease-in-out;
    }
    img {
      max-height: 2.2em;
    }
  }

  // background-color: $primary;

  // * {
  //     font-family: $ff-1;
  //     color: $white;
  // }

  .nav-link {
    // font-family: $ff-1;
    // color: $white !important;

    :hover {
      // opacity: 0.8;
      // color: white !important;
      transition-duration: 300ms;
    }
  }
  // .nav-contact-link {
  //     :hover a{
  //         color: pink !important;
  //     }
  // }

  // h1 {
  //     font-size: $fs
  // }

  // NavbarBrand{
  //     :hover {
  //         opacity: 0.3;
  //         color: $white;
  //     }
  // }
}

// .nav-link {
//     color: $white;
//     opacity: 1;
//     :hover {
//         opacity: 0.3;
//     }
// }
