@import "./variables/scss-variables.scss";
// @import '../pictures/bg2.jpg';



.landing {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: $ff-1;
    color: $white;
    background-color: $primary;
    overflow-y: hidden;
    height: 100vh;

    

    .bg-pic {
      background-size:contain;
      background-repeat: no-repeat;
      background-image: url('../pictures/bg2.jpg');
      background-color: $primary;
      opacity: 0.1;
      background-blend-mode: multiply;
      z-index: 0;
      width: 100%;
      height: 100%;
    }
 

    .header-section {
      width: min-content;
    }

   .landing-buttons {
      z-index: 1;
  }

  .landing-h1 {
    font-size: $fs-h1;
    font-family: $ff-2;
    font-weight: bold;
    color: $white;
    z-index: 1;
  }

  }

